* {
	font-family: monospace;
}

#inputs, #outputs {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

#inputs {
	text-align: center;
}

#inputs form {
	margin: 10px 0 0;
}

#graph {
	border: 2px dashed #aaa;
	margin: 1.5em auto;
	display: block;
}